 .grid-container {
	display: grid;
	border: 5px solid black;
	background-color: #C9B2CB;
	padding: 30px;
}
.grid-container div {
	background-color: #C9B2CB;
	text-align: center;
	font-size: 120px;
}
.grid-table-column1 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	display:grid;
	border: 5px solid black;
	background-color: #C9B2CB;
	padding: 10px;
	font-size:20px;
	text-align:center;
}
.grid-table-column2 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	display:grid;
	background-color: #C9B2CB;
	border: 5px solid black;
	padding: 10px;
	font-size:20px;
	text-align:center;
	font-size:200%
}
.grid-table-column3 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;	
	display:grid;
	background-color: #C9B2CB;
	border: 5px solid black;
	padding: 10px;
	font-size:20px;
	text-align:center;
	font-size:200%
}
.menu1 {
	grid-column-start:1;
	grid-column-end: span 1;
}
.menu2 {
	grid-column-start:2;
	grid-column-end: span 1;
	}
.menu3 {
	grid-column-start:3;
	grid-column-end: span 1;
	}
.menu4 {
	grid-column-start:4;
	grid-column-end: span 1;
	}
.menu5 {
	grid-column-start:5;
	grid-column-end: span 1;
	}
.menu6 {
	grid-column-start:6;
	grid-column-end: span 1;
	}
.menu7 {
	grid-column-start:7;
	grid-column-end: span 1;
}
.menu8 {
	grid-column-start:8;
	grid-column-end: span 1;
}
.menu9 {
	grid-column-start:9;
	grid-column-end: span 1;
}
.menu10 {
	grid-column-start:10;
	grid-column-end: span 1;
	}
.menu11 {
	grid-column-start:10;
	grid-column-end: span 1;
}
.menu12 {
	grid-column-start:10;
	grid-column-end: span 1;
}
.menu13 {
	grid-column-start:10;
	grid-column-end: span 1;
}
.menu14 {
	grid-column-start:10;
	grid-column-end: span 1;
	}
.menu1span2 {
	grid-column-start:1;
	grid-column-end: span 3;
	}
.menu1span3 {
	grid-column-start:4;
	grid-column-end: span 3;
	}
.menu1spanall {

	grid-column-start:1;
	grid-column-end: span 6;
}
.menu1span4 {
	grid-column-start:2;
	grid-column-end: span 4;
	}